<main>
  <form method="POST" action="/register">

    <label for="username">Username</label>
    <input type="text" name="username">
    <p>
      <% if (locals.usernameErrorMsg) { %>
        <%= locals.usernameErrorMsg %>
      <% } %>  
    </p>

    <label for="password">Password</label>
    <input type="password" name="password">
    <p>
      <% if (locals.passwordErrorMsg) { %>
        <%= locals.passwordErrorMsg %>
      <% } %>  
    </p>

    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword">
    <p>
      <% if (locals.confirmPasswordErrorMsg) { %>
        <%= locals.confirmPasswordErrorMsg %>
      <% } %>
    </p>

    <label for="fullName">Full Name</label>
    <input type="text" name="fullName">
    <p>
      <% if (locals.fullNameErrorMsg) { %>
        <%= locals.fullNameErrorMsg %>
      <% } %>
    </p>

    <label for="gender">Gender</label>
    <select name="gender">
      <option value="0">Select One</option>
      <option value="1">Male</option>
      <option value="2">Female</option>
    </select>
    <p>
      <% if (locals.genderErrorMsg) { %>
        <%= locals.genderErrorMsg %>
      <% } %>
    </p>

    <input type="submit" value="Submit">
  </form>
</main>